Instalação de bibliotecas

In [24]:
pip install -r requirements.txt

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kaggle in c:\users\thayse\appdata\roaming\python\python312\site-packages (from -r requirements.txt (line 1)) (1.6.17)
Requirement already satisfied: python-dotenv in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (0.21.0)
Requirement already satisfied: ipython in c:\programdata\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (8.27.0)
Requirement already satisfied: autoviz in c:\users\thayse\appdata\roaming\python\python312\site-packages (from -r requirements.txt (line 4)) (0.1.905)
Requirement already satisfied: dtale in c:\users\thayse\appdata\roaming\python\python312\site-packages (from -r requirements.txt (line 5)) (3.16.1)
Requirement already satisfied: sweetviz in c:\users\thayse\appdata\roaming\python\python312\site-packages (from -r requirements.txt (line 6)) (2.3.1)
Requirement already satisfied: six>=1.10 in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (2.32.3)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (4.66.5)
Requirement already satisfied: python-slugify in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (5.0.2)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (2.2.3)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (4.1.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython->-r requirements.txt (line 3)) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython->-r requirements.txt (line 3)) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython->-r requirements.txt (line 3)) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\programdata\anaconda3\lib\site-packages (from ipython->-r requirements.txt (line 3)) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->-r requirements.txt (line 3)) (2.15.1)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from ipython->-r requirements.txt (line 3)) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->-r requirements.txt (line 3)) (5.14.3)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython->-r requirements.txt (line 3)) (0.4.6)
Requirement already satisfied: xlrd in c:\users\thayse\appdata\roaming\python\python312\site-packages (from autoviz->-r requirements.txt (line 4)) (2.0.1)
Requirement already satisfied: wordcloud in c:\users\thayse\appdata\roaming\python\python312\site-packages (from autoviz->-r requirements.txt (line 4)) (1.9.4)
Requirement already satisfied: emoji in c:\users\thayse\appdata\roaming\python\python312\site-packages (from autoviz->-r requirements.txt (line 4)) (2.14.1)
Requirement already satisfied: pyamg in c:\users\thayse\appdata\roaming\python\python312\site-packages (from autoviz->-r requirements.txt (line 4)) (5.2.1)
Requirement already satisfied: scikit-learn in c:\users\thayse\appdata\roaming\python\python312\site-packages (from autoviz->-r requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: statsmodels in c:\programdata\anaconda3\lib\site-packages (from autoviz->-r requirements.txt (line 4)) (0.14.2)
Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (from autoviz->-r requirements.txt (line 4)) (3.9.1)
Requirement already satisfied: textblob in c:\users\thayse\appdata\roaming\python\python312\site-packages (from autoviz->-r requirements.txt (line 4)) (0.19.0)
Requirement already satisfied: xgboost<1.7,>=0.82 in c:\users\thayse\appdata\roaming\python\python312\site-packages (from autoviz->-r requirements.txt (line 4)) (1.6.2)
Requirement already satisfied: fsspec>=0.8.3 in c:\programdata\anaconda3\lib\site-packages (from autoviz->-r requirements.txt (line 4)) (2024.6.1)
Requirement already satisfied: typing-extensions>=4.1.1 in c:\users\thayse\appdata\roaming\python\python312\site-packages (from autoviz->-r requirements.txt (line 4)) (4.12.2)
Requirement already satisfied: pandas-dq>=1.29 in c:\users\thayse\appdata\roaming\python\python312\site-packages (from autoviz->-r requirements.txt (line 4)) (1.29)
Requirement already satisfied: numpy>=1.24.0 in c:\programdata\anaconda3\lib\site-packages (from autoviz->-r requirements.txt (line 4)) (1.26.4)
Requirement already satisfied: hvplot>=0.9.2 in c:\programdata\anaconda3\lib\site-packages (from autoviz->-r requirements.txt (line 4)) (0.11.0)
Requirement already satisfied: holoviews>=1.16.0 in c:\programdata\anaconda3\lib\site-packages (from autoviz->-r requirements.txt (line 4)) (1.19.1)
Requirement already satisfied: panel>=1.4.0 in c:\programdata\anaconda3\lib\site-packages (from autoviz->-r requirements.txt (line 4)) (1.5.2)
Requirement already satisfied: pandas>=2.0 in c:\users\thayse\appdata\roaming\python\python312\site-packages (from autoviz->-r requirements.txt (line 4)) (2.1.4)
Requirement already satisfied: matplotlib>3.7.4 in c:\users\thayse\appdata\roaming\python\python312\site-packages (from autoviz->-r requirements.txt (line 4)) (3.7.5)
Requirement already satisfied: seaborn>0.12.2 in c:\programdata\anaconda3\lib\site-packages (from autoviz->-r requirements.txt (line 4)) (0.13.2)
Requirement already satisfied: dash-colorscales in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dtale->-r requirements.txt (line 5)) (0.0.4)
Requirement already satisfied: dash-daq in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dtale->-r requirements.txt (line 5)) (0.5.0)
Requirement already satisfied: future>=0.14.0 in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dtale->-r requirements.txt (line 5)) (1.0.0)
Requirement already satisfied: missingno in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dtale->-r requirements.txt (line 5)) (0.5.2)
Requirement already satisfied: squarify in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dtale->-r requirements.txt (line 5)) (0.4.4)
Requirement already satisfied: strsimpy in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dtale->-r requirements.txt (line 5)) (0.2.1)
Requirement already satisfied: beautifulsoup4!=4.13.0b2 in c:\programdata\anaconda3\lib\site-packages (from dtale->-r requirements.txt (line 5)) (4.12.3)
Requirement already satisfied: dash-bootstrap-components in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dtale->-r requirements.txt (line 5)) (1.7.1)
Requirement already satisfied: lz4 in c:\programdata\anaconda3\lib\site-packages (from dtale->-r requirements.txt (line 5)) (4.3.2)
Requirement already satisfied: cycler in c:\programdata\anaconda3\lib\site-packages (from dtale->-r requirements.txt (line 5)) (0.11.0)
Requirement already satisfied: dash in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dtale->-r requirements.txt (line 5)) (2.18.2)
Requirement already satisfied: werkzeug in c:\programdata\anaconda3\lib\site-packages (from dtale->-r requirements.txt (line 5)) (3.0.3)
Requirement already satisfied: Flask-Compress in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dtale->-r requirements.txt (line 5)) (1.17)
Requirement already satisfied: networkx in c:\programdata\anaconda3\lib\site-packages (from dtale->-r requirements.txt (line 5)) (3.3)
Requirement already satisfied: openpyxl!=3.2.0b1 in c:\programdata\anaconda3\lib\site-packages (from dtale->-r requirements.txt (line 5)) (3.1.5)
Requirement already satisfied: xarray in c:\programdata\anaconda3\lib\site-packages (from dtale->-r requirements.txt (line 5)) (2023.6.0)
Requirement already satisfied: scipy!=1.12.0rc1,!=1.14.0,!=1.14.0rc1,!=1.14.0rc2 in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dtale->-r requirements.txt (line 5)) (1.11.4)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from dtale->-r requirements.txt (line 5)) (1.1.0)
Requirement already satisfied: plotly in c:\programdata\anaconda3\lib\site-packages (from dtale->-r requirements.txt (line 5)) (5.24.1)
Requirement already satisfied: Flask in c:\programdata\anaconda3\lib\site-packages (from dtale->-r requirements.txt (line 5)) (3.0.3)
Requirement already satisfied: itsdangerous in c:\programdata\anaconda3\lib\site-packages (from dtale->-r requirements.txt (line 5)) (2.2.0)
Requirement already satisfied: kaleido in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dtale->-r requirements.txt (line 5)) (0.4.1)
Requirement already satisfied: jinja2>=2.11.1 in c:\programdata\anaconda3\lib\site-packages (from sweetviz->-r requirements.txt (line 6)) (3.1.4)
Requirement already satisfied: importlib-resources>=1.2.0 in c:\users\thayse\appdata\roaming\python\python312\site-packages (from sweetviz->-r requirements.txt (line 6)) (6.4.5)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4!=4.13.0b2->dtale->-r requirements.txt (line 5)) (2.5)
Requirement already satisfied: bokeh>=3.1 in c:\programdata\anaconda3\lib\site-packages (from holoviews>=1.16.0->autoviz->-r requirements.txt (line 4)) (3.6.0)
Requirement already satisfied: colorcet in c:\programdata\anaconda3\lib\site-packages (from holoviews>=1.16.0->autoviz->-r requirements.txt (line 4)) (3.1.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from holoviews>=1.16.0->autoviz->-r requirements.txt (line 4)) (24.1)
Requirement already satisfied: param<3.0,>=2.0 in c:\programdata\anaconda3\lib\site-packages (from holoviews>=1.16.0->autoviz->-r requirements.txt (line 4)) (2.1.1)
Requirement already satisfied: pyviz-comms>=2.1 in c:\programdata\anaconda3\lib\site-packages (from holoviews>=1.16.0->autoviz->-r requirements.txt (line 4)) (3.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython->-r requirements.txt (line 3)) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz->-r requirements.txt (line 6)) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>3.7.4->autoviz->-r requirements.txt (line 4)) (1.2.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>3.7.4->autoviz->-r requirements.txt (line 4)) (4.51.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>3.7.4->autoviz->-r requirements.txt (line 4)) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>3.7.4->autoviz->-r requirements.txt (line 4)) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>3.7.4->autoviz->-r requirements.txt (line 4)) (3.1.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=2.0->autoviz->-r requirements.txt (line 4)) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=2.0->autoviz->-r requirements.txt (line 4)) (2023.3)
Requirement already satisfied: linkify-it-py in c:\programdata\anaconda3\lib\site-packages (from panel>=1.4.0->autoviz->-r requirements.txt (line 4)) (2.0.0)
Requirement already satisfied: markdown in c:\programdata\anaconda3\lib\site-packages (from panel>=1.4.0->autoviz->-r requirements.txt (line 4)) (3.4.1)
Requirement already satisfied: markdown-it-py in c:\programdata\anaconda3\lib\site-packages (from panel>=1.4.0->autoviz->-r requirements.txt (line 4)) (2.2.0)
Requirement already satisfied: mdit-py-plugins in c:\programdata\anaconda3\lib\site-packages (from panel>=1.4.0->autoviz->-r requirements.txt (line 4)) (0.3.0)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython->-r requirements.txt (line 3)) (0.2.5)
Requirement already satisfied: joblib>=1.2.0 in c:\users\thayse\appdata\roaming\python\python312\site-packages (from scikit-learn->autoviz->-r requirements.txt (line 4)) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->autoviz->-r requirements.txt (line 4)) (3.5.0)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle->-r requirements.txt (line 1)) (0.5.1)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dash->dtale->-r requirements.txt (line 5)) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dash->dtale->-r requirements.txt (line 5)) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dash->dtale->-r requirements.txt (line 5)) (5.0.0)
Requirement already satisfied: importlib-metadata in c:\programdata\anaconda3\lib\site-packages (from dash->dtale->-r requirements.txt (line 5)) (7.0.1)
Requirement already satisfied: retrying in c:\users\thayse\appdata\roaming\python\python312\site-packages (from dash->dtale->-r requirements.txt (line 5)) (1.3.4)
Requirement already satisfied: nest-asyncio in c:\programdata\anaconda3\lib\site-packages (from dash->dtale->-r requirements.txt (line 5)) (1.6.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from dash->dtale->-r requirements.txt (line 5)) (75.1.0)
Requirement already satisfied: click>=8.1.3 in c:\programdata\anaconda3\lib\site-packages (from Flask->dtale->-r requirements.txt (line 5)) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\programdata\anaconda3\lib\site-packages (from Flask->dtale->-r requirements.txt (line 5)) (1.6.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from plotly->dtale->-r requirements.txt (line 5)) (8.2.3)
Requirement already satisfied: brotli in c:\programdata\anaconda3\lib\site-packages (from Flask-Compress->dtale->-r requirements.txt (line 5)) (1.0.9)
Requirement already satisfied: zstandard in c:\programdata\anaconda3\lib\site-packages (from Flask-Compress->dtale->-r requirements.txt (line 5)) (0.23.0)
Requirement already satisfied: choreographer>=0.99.6 in c:\users\thayse\appdata\roaming\python\python312\site-packages (from kaleido->dtale->-r requirements.txt (line 5)) (0.99.6)
Requirement already satisfied: async-timeout in c:\users\thayse\appdata\roaming\python\python312\site-packages (from kaleido->dtale->-r requirements.txt (line 5)) (5.0.1)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk->autoviz->-r requirements.txt (line 4)) (2024.9.11)
Requirement already satisfied: text-unidecode>=1.3 in c:\programdata\anaconda3\lib\site-packages (from python-slugify->kaggle->-r requirements.txt (line 1)) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->-r requirements.txt (line 1)) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->-r requirements.txt (line 1)) (3.7)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->-r requirements.txt (line 3)) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->-r requirements.txt (line 3)) (2.0.5)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->-r requirements.txt (line 3)) (0.2.2)
Requirement already satisfied: patsy>=0.5.6 in c:\programdata\anaconda3\lib\site-packages (from statsmodels->autoviz->-r requirements.txt (line 4)) (0.5.6)
Requirement already satisfied: PyYAML>=3.10 in c:\programdata\anaconda3\lib\site-packages (from bokeh>=3.1->holoviews>=1.16.0->autoviz->-r requirements.txt (line 4)) (6.0.1)
Requirement already satisfied: tornado>=6.2 in c:\programdata\anaconda3\lib\site-packages (from bokeh>=3.1->holoviews>=1.16.0->autoviz->-r requirements.txt (line 4)) (6.4.1)
Requirement already satisfied: xyzservices>=2021.09.1 in c:\programdata\anaconda3\lib\site-packages (from bokeh>=3.1->holoviews>=1.16.0->autoviz->-r requirements.txt (line 4)) (2022.9.0)
Requirement already satisfied: zipp>=0.5 in c:\programdata\anaconda3\lib\site-packages (from importlib-metadata->dash->dtale->-r requirements.txt (line 5)) (3.17.0)
Requirement already satisfied: uc-micro-py in c:\programdata\anaconda3\lib\site-packages (from linkify-it-py->panel>=1.4.0->autoviz->-r requirements.txt (line 4)) (1.0.1)
Requirement already satisfied: mdurl~=0.1 in c:\programdata\anaconda3\lib\site-packages (from markdown-it-py->panel>=1.4.0->autoviz->-r requirements.txt (line 4)) (0.1.0)
Note: you may need to restart the kernel to use updated packages.

Importar bibliotecas necessárias:

In [6]:
import dtale
import pandas as pd
import matplotlib.pyplot as plt
from autoviz.AutoViz_Class import AutoViz_Class
from kaggle.api.kaggle_api_extended import KaggleApi

Imported v0.1.905. Please call AutoViz in this sequence:
    AV = AutoViz_Class()
    %matplotlib inline
    dfte = AV.AutoViz(filename, sep=',', depVar='', dfte=None, header=0, verbose=1, lowess=False,
               chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)

In [7]:
try:
    api = KaggleApi()
    api.authenticate()
    print("Autenticação bem-sucedida !")

    # Teste
    print("\nSeus datasets:")
    print(api.dataset_list())

except Exception as e:
    print(f"❌ Erro: {e}")

Autenticação bem-sucedida !

Seus datasets:
[asinow/car-price-dataset, mahmoudelhemaly/students-grading-dataset, vinothkannaece/sales-dataset, abdulmalik1518/mobiles-dataset-2025, adilshamim8/education-and-career-success, adilshamim8/startup-growth-and-investment-data, adilshamim8/sleep-cycle-and-productivity, akxiit/blinkit-sales-dataset, adilshamim8/global-traffic-accidents-dataset, adilshamim8/daily-food-and-nutrition-dataset, meharshanali/nvidia-stocks-data-2025, anandshaw2001/netflix-movies-and-tv-shows, krishnanshverma/imdb-movies-dataset, arnavgupta1205/usa-housing-dataset, asinow/laptop-price-dataset, ruchikakumbhar/zomato-dataset, mzohaibzeeshan/google-stock-price-data-2020-2025-googl, flynn28/european-football-matches, asinow/schizohealth-dataset, mahatiratusher/stroke-risk-prediction-dataset]

In [8]:
dataset_name = "flynn28/european-football-matches"
api.dataset_download_files(dataset_name, unzip=True)
# KEY: A = Away team win. H = Home team win. D = Draw

Dataset URL: https://www.kaggle.com/datasets/flynn28/european-football-matches

In [9]:
file_name="English Premier League.csv"

In [11]:
df = pd.read_csv(f"{file_name}")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11564 entries, 0 to 11563
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   League     11564 non-null  object
 1   Date       11564 non-null  object
 2   HomeTeam   11564 non-null  object
 3   AwayTeam   11564 non-null  object
 4   HomeGoals  11564 non-null  float64
 5   AwayGoals  11564 non-null  float64
 6   Result     11564 non-null  object
dtypes: float64(2), object(5)
memory usage: 632.5+ KB

In [14]:
df.head(10)

,League,Date,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Result
0,English Premier League,14/08/93,Arsenal,Coventry,0.0,3.0,A
1,English Premier League,14/08/93,Aston Villa,QPR,4.0,1.0,H
2,English Premier League,14/08/93,Chelsea,Blackburn,1.0,2.0,A
3,English Premier League,14/08/93,Liverpool,Sheffield Weds,2.0,0.0,H
4,English Premier League,14/08/93,Man City,Leeds,1.0,1.0,D
5,English Premier League,14/08/93,Newcastle,Tottenham,0.0,1.0,A
6,English Premier League,14/08/93,Oldham,Ipswich,0.0,3.0,A
7,English Premier League,14/08/93,Sheffield United,Swindon,3.0,1.0,H
8,English Premier League,14/08/93,Southampton,Everton,0.0,2.0,A
9,English Premier League,14/08/93,West Ham,Wimbledon,0.0,2.0,A

In [15]:
df.describe()

         HomeGoals     AwayGoals
count  11564.000000  11564.000000
mean       1.522743      1.145019
std        1.306091      1.138957
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max        9.000000      9.000000

In [16]:
df.describe().round()

       HomeGoals  AwayGoals
count   11564.0    11564.0
mean        2.0        1.0
std         1.0        1.0
min         0.0        0.0
25%         1.0        0.0
50%         1.0        1.0
75%         2.0        2.0
max         9.0        9.0

In [18]:
df.describe(include=["object","category"])

                League            Date   HomeTeam AwayTeam Result
count                    11564     11564    11564    11564  11564
unique                       1      3170       50       50      3
top     English Premier League  17/04/95  Arsenal  Arsenal      H
freq                     11564        11      574      574   5305

In [19]:
print(df.isnull().sum())

League       0
Date         0
HomeTeam     0
AwayTeam     0
HomeGoals    0
AwayGoals    0
Result       0
dtype: int64

In [20]:
print(df.isna().sum())

League       0
Date         0
HomeTeam     0
AwayTeam     0
HomeGoals    0
AwayGoals    0
Result       0
dtype: int64

In [21]:
av = AutoViz_Class()
report = av.AutoViz(df)

Shape of your Data Set loaded: (11564, 7)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  2
    Number of Integer-Categorical Columns =  0
    Number of String-Categorical Columns =  3
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  0
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  1
    Number of Date Time Columns =  0
    Number of ID Columns =  0
    Number of Columns to Delete =  1
    7 Predictors classified...
        1 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['League']
To fix these data quality issues in the dataset, import FixDQ from autoviz...
    All variables classified into correct types.

Number of All Scatter Plots = 3

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package omw-1.4 to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package omw-1.4 is already up-to-date!
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet2021 to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet2021 is already up-to-date!
[nltk_data]    | Downloading package wordnet31 to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet31 is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     C:\Users\Thayse\AppData\Roaming\nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

Could not draw wordcloud plot for Date.
Looks like you are missing some required data for this feature.

To download the necessary data, simply run

    python -m textblob.download_corpora

or use the NLTK downloader to download the missing data: http://nltk.org/data.html
If this doesn't fix the problem, file an issue at https://github.com/sloria/TextBlob/issues.

All Plots done
Time to run AutoViz = 3 seconds

 ###################### AUTO VISUALIZATION Completed ########################

In [22]:
import sweetviz as sv

report = sv.analyze(df)
report.show_html("sweetviz_report.html")

                                             |          | [  0%]   00:00 -> (? left)

Report sweetviz_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [23]:
d = dtale.show(df)
d.open_browser()